word {
  color: orange;
  font-size: 18px;
  font-weight: bolder;
}

.example {
  font-weight: bolder;
  font-size: 18px;
  color: #b36800;
}

mytitle {
  font-weight: bolder;
  font-size: 18px;
  margin: 0 auto;
}

.mylink {
  font-size: 18px;
  margin: 0 auto;
}

.meaning {
  font-weight: bolder;
  font-size: 18px;
  color: #b38b00;
}
@media screen and (max-width: 600px) {
  word {
    color: orange;
    font-size: 6vw;
    font-weight: bolder;
  }

  .example {
    font-weight: bolder;
    font-size: 6vw;
    color: #b36800;
  }

  .meaning {
    font-weight: bolder;
    font-size: 6vw;
    color: #b38b00;
  }
  mytitle {
    font-weight: bolder;
    font-size: 6.5vw;
    margin: 0 auto;
  }

  .mylink {
    font-weight: bolder;
    font-size: 6vw;
    color: #24b300;
  }
}
